/* reset */
body {
  margin: 0 auto;
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Pretendard";
}

/* font */
h2 {
  font-weight: 800;
  font-size: 50px;
  font-size: 3.125rem;
}

h3 {
  font-weight: 600;
  font-size: 40px;
  font-size: 2.5rem;
}

h4 {
  font-weight: 500;
  font-size: 28px;
  font-size: 1.75rem;
}

span {
  font-weight: 300;
  font-size: 22px;
  font-size: 1.375rem;
}

p {
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
}

.dummy {
  font-weight: 100;
  font-size: 14px;
  font-size: 0.875rem;
}

a {
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
}

/* btn */

button {
  width: auto;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  font-family: "Pretendard";
}

.white_btn {
  background: #fff;
  color: #2e53a0;
}

.white_btn:hover {
  background: #d7e2ff;
}

.blue_btn {
  background: #2e53a0;
  color: #fff;
}

.blue_btn:hover {
  background: #1f284d;
}

/* submit */
input[type="submit"] {
  width: auto;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  text-indent: 0;
  cursor: pointer;
}

/* input */
input {
  height: 40px;
  background: #fff;
  border: 1px solid #666;
  border-radius: 5px;
  text-indent: 10px;
  color: #333;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Pretendard";
}

input[placeholder] {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Pretendard";
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #2e53a0;
  background-color: #f2f6ff;
}

textarea {
  width: auto;
  height: 150px;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Pretendard";
  resize: none;
  box-sizing: border-box;
}

/* checkbox */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="checkbox"]:checked + label {
  position: relative;
  text-indent: 26px;
}

input[type="checkbox"] + label:before,
input[type="checkbox"]:checked + label:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1px;
  left: 0;
  background: url("../images/common/icon/check_box_de_wh.png") no-repeat left center / contain;
}

input[type="checkbox"]:checked + label:before {
  background: url("../images/common/icon/check_box_ch_wh.png") no-repeat left center / contain;
}

/* something */
hr {
  border-bottom: 2px solid #2e53a0;
}

.br_1440,
.br_1280,
.br_1440,
.br_1024,
.br_960,
.br_768,
.br_480 {
  display: none;
}

/* header*/
#header {
  width: 100%;
  height: 80px;
  background: #1f284d;
  position: fixed;
  z-index: 9999;
}

#header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

/* nav */
.nav {
  width: 45%;
  height: 80px;
}

.nav_mb {
  display: none;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.menu li {
  width: 25%;
  height: 100%;
}

.menu li a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submenu li {
  width: 100%;
  height: 0px;
  border: none;
  overflow: hidden;
  transition: all ease 0.5s;
}

.submenu.on li {
  height: 60px;
  background: rgb(255, 255, 255, 1);
  border-bottom: 1px solid rgba(212, 212, 212, 0.5);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.submenu li:last-child {
  border-bottom: 0;
}

.submenu li a p {
  padding: 5px 10px;
  background-image: linear-gradient(transparent 60%, #fdff97 40%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.8s;
  color: #1f284d;
}

.menu li:nth-child(1) .submenu li:nth-child(2) a p {
  padding: 5px 0px;
}

/* nav hover */
.menu li a:hover {
  background: #2e53a0;
  color: #fdff97;
}

.submenu li:hover a p {
  background-size: 100% 100%;
  font-weight: 700;
}

.submenu li a:hover {
  background: #d0d7e7;
}

/* footer */
#footer {
  width: 100%;
  height: auto;
  background: #1f284d;
  color: #fff;
}

#footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
}

.info {
  width: 100%;

  margin: 30px 0;
}

.address {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.address p {
  background: url(../images/common/icon/company_wh.png) no-repeat left center / 16px 16px;
  text-indent: 20px;
}

.Communicate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 15px;
}

.Communicate li {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5%;
}

.Communicate li:nth-child(1) p {
  background: url(../images/common/icon/call_wh.png) no-repeat left center / 16px 16px;
  text-indent: 20px;
}

.Communicate li:nth-child(2) p {
  background: url(../images/common/icon/fax_wh.png) no-repeat left center / 16px 16px;
  text-indent: 20px;
}

.Communicate li:nth-child(3) p {
  background: url(../images/common/icon/mail_wh.png) no-repeat left bottom / 16px 16px;
  text-indent: 20px;
}

/* rayOut*/
#wrap {
  width: 100%;
  height: auto;
  display: flex;
}

.container {
  width: 80%;
  min-width: 1400px;
  height: inherit;
  margin: 0 auto;
  /* border: 1px solid green; */
}

.banner_big {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_big img {
  width: 100%;
}

.banner_mid {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #E1E8FF;
}

.banner_mid img {
  width: auto;
  height: 100%;
}

/* title */
.tit_cont h4 {
  padding: 20px 0;
}
.tit_cont span {
  margin-top: 20px;
  line-height: 1.5;
}

/* sub_banner & sub_tit */
.sub_banner {
  position: relative;
  top: 80px;
  width: 100%;
  height: 360px;
  overflow: hidden;
}

.sub_banner img {
  width: 100%;
  height: auto;
}

.sub_tit {
  position: absolute;
  color: #fff;
  text-align: center;
}

.sub_tit hr {
  margin: 20px 0;
  border-bottom: 2px solid #ffff;
}

.sub_big_banner {
  margin-top: 80px;
  width: 100%;
  height: auto;
  color: #fff;
}

.sub_tit_big {
  width: 50%;
  padding: 15% 5%;
}

.sub_tit_big span {
  margin: 40px 0;
}

.sub_tit_big button {
  width: 75%;
}

/* 1440 set */
@media all and (max-width: 1440px) {
  .container {
    min-width: 1200px;
  }

  /* font */
  h2 {
    font-size: 40px;
    font-size: 2.5rem;
  }

  h3 {
    font-size: 30px;
    font-size: 1.875rem;
  }

  h4 {
    font-size: 25px;
    font-size: 1.5625rem;
  }

  span,
  a {
    font-size: 20px;
    font-size: 1.22rem;
  }

  p {
    font-size: 16px;
    font-size: 1rem;
  }

  /* checkbox */

  input[type="checkbox"] + label,
  input[type="checkbox"]:checked + label {
    text-indent: 20px;
  }

  input[type="checkbox"] + label:before,
  input[type="checkbox"]:checked + label:before {
    width: 16px;
    height: 16px;
  }

  /* rayOut*/
  .banner_mid {
    height: 375px;
  }

  /* sub_banner*/
  .sub_banner {
    top: 60px;
    height: 300px;
  }

  .sub_big_banner {
    margin-top: 60px;
  }
}

@media all and (max-width: 1280px) {
  .container {
    min-width: 1000px;
  }

  .br_1280 {
    display: initial;
  }

  /* font */
  h2 {
    font-size: 35px;
    font-size: 2.18rem;
  }

  h3 {
    font-size: 26px;
    font-size: 1.6rem;
  }

  h4 {
    font-size: 22px;
    font-size: 1.375rem;
  }

  span,
  a {
    font-size: 16px;
    font-size: 1rem;
  }

  p {
    font-size: 14px;
    font-size: 0.875rem;
  }

  /* btn */
  input[type="submit"],
  button {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
  }

  /* checkbox */

  input[type="checkbox"] + label:before,
  input[type="checkbox"]:checked + label:before {
    width: 14px;
    height: 14px;
  }

  /* header*/
  #header {
    width: 100%;
    height: 60px;
    background: #1f284d;
  }

  .logo {
    width: 150px;
  }

  .nav {
    width: 50%;
    height: 60px;
  }

  /* sub_banner*/
  .sub_banner {
    height: 240px;
  }
}

@media all and (max-width: 1024px) {
  #header .container {
    width: 90%;
    min-width: initial;
  }

  .container {
    min-width: 900px;
  }

  /* font */
  h2 {
    font-size: 40px;
    font-size: 2.5rem;
  }

  h3 {
    font-size: 30px;
    font-size: 1.875rem;
  }

  h4 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  a {
    font-size: 18px;
    font-size: 1.125rem;
  }

  p {
    font-size: 14px;
    font-size: 0.875rem;
  }

  /* nav hover remove*/
  .menu li a:hover {
    background: initial;
    color: initial;
  }

  .submenu li:hover a p {
    background-size: 0% 100%;
    font-weight: initial;
  }

  .submenu li a:hover {
    background: initial;
  }

  /* nav_mb*/
  #header {
    position: fixed;
    z-index: 9999;
  }

  .deem {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    z-index: -9999;
    opacity: 0;
    transition: 0.2s;
    display: none;
  }

  .deem.on {
    opacity: 1;
    display: block;
  }

  .nav {
    display: none;
  }

  .nav_mb {
    display: flex;
    width: calc(100% - 150px);
    height: 60px;
    align-items: center;
    justify-content: flex-end;
  }

  .ham {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
  }

  .ham > span {
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all ease 0.5s;
  }

  .ham.on > span:nth-child(1) {
    rotate: 45deg;
    transform: translate(5px, 5px);
  }

  .ham.on > span:nth-child(2) {
    opacity: 0;
  }

  .ham.on > span:nth-child(3) {
    rotate: -45deg;
    transform: translate(6px, -6px);
  }

  .menu {
    width: 70%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    right: -75%;
    flex-direction: column;
    align-items: center;
    background: #e6e6e6;
    transition: all ease 0.8s;
  }

  .menu.on {
    right: 0;
  }

  .menu li {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
  }

  .menu > li:nth-child(2),
  .menu > li:nth-child(4) {
    border-bottom: none;
  }

  .menu li a {
    height: 60px;
    color: #1f284d;
    align-items: flex-start;
    font-weight: 700;
    padding: 0 20px;
  }

  .menu li > div {
    width: 20px;
    height: 20px;
    margin-right: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu li > div img {
    width: 100%;
    rotate: 180deg;
    transition: all ease 0.5s;
    cursor: pointer;
  }

  .menu li.on > div img {
    rotate: 0deg;
  }

  .submenu {
    width: 100%;
  }

  .submenu li {
    border-bottom: none;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .menu li.on .submenu li {
    height: 60px;
    border-bottom: 1px solid #e6e6e6;
    background: rgba(255, 255, 255, 0.5);
  }

  .menu li.on .submenu li:last-child {
    border-bottom: 1px solid #b9b9b9;
  }

  /* rayOut*/
  .banner_big {
    margin-top: 60px;
  }

  .br_1024 {
    display: block;
  }
}

@media all and (max-width: 960px) {
  .container {
    min-width: 750px;
  }

  .br_960{
    display: initial;
  }


  /* rayOut*/
  .banner_mid {
    height: 300px;
  }

  /* sub_banner */
  .sub_banner {
    top: 50px;
    height: 200px;
  }
  .sub_big_banner {
    margin-top: 50px;
  }

  .sub_tit_big {
    width: 100%;
    text-align: center;
  }

  .sub_tit_big span {
    margin: 30px 0;
  }

  .sub_tit_big button {
    width: 40%;
  }
}

@media all and (max-width: 768px) {
  #header .container {
    width: 89%;
    min-width: initial;
  }

  .container {
    min-width: 450px;
  }

  .br_1920 {
    display: none;
  }

  .br_768 {
    display: initial;
  }

  /* font */
  h2 {
    font-size: 34px;
    font-size: 2.125rem;
  }

  h3 {
    font-size: 24px;
    font-size: 1.5rem;
  }

  h4 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  a,
  span,
  p {
    font-size: 14px;
    font-size: 0.875rem;
  }

  .dummy {
    font-size: 13px;
    font-size: 0.8125rem;
  }

  /* header*/
  #header {
    height: 50px;
  }

  .logo {
    width: 120px;
  }

  /* nav */
  .nav_mb {
    width: calc(100% - 120px);
    height: 50px;
  }

  .ham {
    width: 18px;
    height: 18px;
    display: flex;
  }

  .ham.on > span:nth-child(1) {
    transform: translate(3px, 3px);
  }

  .ham.on > span:nth-child(3) {
    transform: translate(4px, -4px);
  }

  .menu {
    width: 70%;
    height: calc(100vh - 50px);
    top: 50px;
  }

  .menu li a,
  .menu li.on .submenu li {
    height: 50px;
  }

  /* footer */
  #footer .container {
    padding: 50px 0;
  }

  .banner_big {
    margin-top: 50px;
  }

  /* rayOut*/
  .banner_mid {
    height: 200px;
  }

  /* sub_banner & sub_tit */
  .sub_banner {
    width: 100%;
    height: auto;
  }

  .sub_tit hr {
    margin: 10px 0;
  }

  .sub_tit h3 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .sub_tit p {
    font-size: 12px;
    margin-top: 2px;
  }

  .sub_tit_big span {
    margin: 20px 0;
  }
}

@media all and (max-width: 480px) {
  .container {
    min-width: 300px;
  }

  /* font */
  h2 {
    font-size: 28px;
    font-size: 1.75rem;
  }

  h3 {
    font-size: 24px;
    font-size: 1.5rem;
  }

  h4 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  a,
  span {
    font-size: 14px;
    font-size: 0.875rem;
  }

  p {
    font-size: 13px;
    font-size: 0.8125rem;
  }

  .dummy {
    font-size: 12px;
    font-size: 0.75rem;
  }

  /* input */
  input {
    height: 30px;
  }

  textarea {
    height: 100px;
  }

  /* btn */
  input[type="submit"],
  button {
    font-size: 14px;
    font-size: 0.875rem;
    height: 30px;
  }

  /* something */
  .br_480 {
    display: initial;
  }

  /* header*/
  #header {
    height: 40px;
  }

  .logo {
    width: 100px;
  }

  /* nav */
  .nav_mb {
    width: calc(100% - 100px);
    height: 40px;
  }

  .menu {
    height: calc(100vh - 40px);
    top: 40px;
  }

  .menu li a,
  .menu li.on .submenu li {
    height: 40px;
  }

  /* footer */

  .info {
    margin: 20px 0;
  }

  .Communicate {
    flex-direction: column;
    margin-top: initial;
  }

  .Communicate li {
    margin-right: 0%;
    margin-top: 10px;
  }

  .copy {
    font-size: 11px;
    font-size: 0.6875rem;
  }

  /* rayOut*/
  .banner_big {
    margin-top: 40px;
  }

  /* title */
  .tit_cont h4 {
    padding: 14px 0;
  }

  .tit_cont span {
    margin-top: 14px;
    line-height: 1.5;
  }

  /* rayOut*/
  .banner_mid {
    height: 125px;
  }

  /* sub_banner & sub_tit */
  .sub_banner {
    top: 40px;
    width: 100%;
    height: auto;
  }

  .sub_tit hr,
  .sub_tit p {
    display: none;
  }

  .sub_tit_big h4 {
    font-size: 1rem;
  }

  .sub_tit_big span,
  .sub_tit_big button {
    display: none;
  }

  .sub_big_banner {
    margin-top: 40px;
  }
}
