/* sub_banner */
#wrap {
  flex-direction: column;
}

.sub_tit img {
  width: 90%;
  margin: 0 auto;
}

/* contact */
.contact {
  margin-top: 80px;
  color: #333;
  background: #fff;
}

/* icon */
.contact .Communicate li:nth-child(1) p {
  background: url(../images/common/icon/company_bk.png) no-repeat left center / 20px 20px;
  text-indent: 26px;
}

.contact .Communicate li:nth-child(2) p {
  background: url(../images/common/icon/call_bk.png) no-repeat left center / 20px 20px;
  text-indent: 26px;
}

.contact .Communicate li:nth-child(3) p {
  background: url(../images/common/icon/mail_bk.png) no-repeat left bottom / 20px 20px;
  text-indent: 26px;
}

input[type="checkbox"] + label:before,
input[type="checkbox"]:checked + label:before {
  background: url("../images/common/icon/check_box_de.png") no-repeat left center / contain;
}

input[type="checkbox"]:checked + label:before {
  background: url("../images/common/icon/check_box_ch.png") no-repeat left center / contain;
}

/* map */
.map iframe {
  width: 100%;
  height: 300px;
  vertical-align: middle;
}

@media all and (max-width: 1440px) {
  .contact {
    margin-top: 60px;
  }
}

@media all and (max-width: 960px) {
  /* sub_banner */
  .sub_tit img {
    width: 80%;
  }

  .sub_tit hr {
    width: 80%;
    margin: 10px auto;
  }

  /* contact */
  .contact {
    margin-top: 50px;
  }
}

@media all and (max-width: 768px) {
  /* sub_banner */
  .sub_tit img {
    width: 70%;
  }

  .sub_tit hr {
    width: 70%;
  }

  /* contact */
  .contact {
    margin-top: 40px;
  }

  /* map */
  .map iframe {
    height: 200px;
  }
}
