

#wrap {
  flex-direction: column;
}

/* timeLine */

.design-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 0;
}

.timeline {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  /* grid-template-columns: 1fr 30px 1fr; */
  justify-items: center;
  flex-direction: column;
}

.timeline_group {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  justify-items: center;
}

.timeline_group:nth-child(2n + 1) {
  text-align: right;
}

.timeline_group:nth-child(2n) .timeline_empty {
  order: 1;
}

.timeline_group:nth-child(2n) .timeline_line {
  order: 2;
}

.timeline_group:nth-child(2n) .timeline_content {
  order: 3;
}

.timeline_content {
  width: 90%;
  color: #333;
  position: relative;
  margin-right: 50px;

  padding-bottom: 50px;
}

.timeline_group:nth-child(2n) .timeline_content {
  margin-right: 0px;
  margin-left: 50px;
}

.timeline_content::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #2e53a0;
  position: absolute;
  top: 20px;
  right: -60px;
  margin-right: 10px;
}

.timeline_group:nth-child(2n) .timeline_content::after {
  left: -50px;
  right: initial;
}

.timeline_content h3 {
  color: #2e53a0;
  margin-bottom: 10px;
}

.timeline_content h4 {
  font-weight: 700;
  color: #2e53a0;
  margin-bottom: 5px;
  font-size: 25px;
}

.timeline_line {
  position: relative;
  background: #2e53a0;
  width: 2px;
  height: 100%;
  margin-top: 10px;
}

.timeline_circle {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  border: 8px solid #2e53a0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.img_content {
  display: flex;
  justify-content: flex-end;
}

.img_content img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.big_new {
  width: 300px;
}

@media screen and (max-width: 1440px) {
  .timeline_content h4 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

@media screen and (max-width: 1280px) {
  .timeline_content h4 {
    font-size: 18px;
    font-size: 1.125rem;
  }

  .big_new {
    width: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .timeline_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .timeline_group:nth-child(2n) .timeline_empty {
    order: 3;
  }

  .timeline_group:nth-child(2n) .timeline_line {
    order: 2;
  }

  .timeline_group:nth-child(2n) .timeline_content {
    order: 1;
  }

  .timeline_content {
    width: 100%;
    text-align: center;
    margin: 2% 0;
    padding-bottom: 0;
  }

  .timeline_content::after {
    display: none;
  }

  .timeline_group:nth-child(2n) .timeline_content {
    margin-left: 0;
  }

  .timeline_group:nth-last-child(2) .timeline_line {
    height: 0;
  }

  .timeline_line {
    height: 50px;
  }
  .timeline_group:last-child,
  .timeline_circle {
    display: none;
  }

  .img_content {
    justify-content: center;
    transform: translateX(-35px);
  }

  .img_content img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .big_new {
    margin: 0 auto;
    transform: translateX(20px);
  }
}

@media screen and (max-width: 768px) {
  .design-section {
    margin-top: 8%;
  }
}

@media screen and (max-width: 480px) {
  .timeline_content {
    margin: 10px 0;
  }

  .timeline_content h4 {
    font-size: 16px;
    font-size: 1rem;
  }

  .timeline_content p {
    font-size: 12px;
  }

  .timeline_line {
    margin-top: 0;
    height: 30px;
  }

  .img_content {
    transform: translateX(-0px);
  }

  .img_content img {
    display: none;
  }
}
