@charset "utf-8";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

@font-face {
  src: url(../font/NotoSansKR-Bold.ttf);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
}

@font-face {
  src: url(../font/NotoSansKR-Bold.ttf);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

@font-face {
  src: url(../font/NotoSansKR-Regular.ttf);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

@font-face {
  src: url(../font/NotoSansKR-Light.ttf);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
}

@font-face {
  src: url(../font/NotoSansKR-Thin.ttf);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
}

/* Pretendard */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(./woff2-subset/Pretendard-Black.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Black.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(./woff2-subset/Pretendard-ExtraBold.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-ExtraBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(./woff2-subset/Pretendard-Bold.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Bold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(./woff2-subset/Pretendard-SemiBold.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-SemiBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(./woff2-subset/Pretendard-Medium.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Medium.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(./woff2-subset/Pretendard-Regular.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Regular.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(./woff2-subset/Pretendard-Light.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Light.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url(./woff2-subset/Pretendard-ExtraLight.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-ExtraLight.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(./woff2-subset/Pretendard-Thin.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Thin.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(./woff2-subset/Pretendard-Black.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Black.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(./woff2-subset/Pretendard-ExtraBold.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-ExtraBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(./woff2-subset/Pretendard-Bold.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Bold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(./woff2-subset/Pretendard-SemiBold.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-SemiBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(./woff2-subset/Pretendard-Medium.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Medium.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(./woff2-subset/Pretendard-Regular.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Regular.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(./woff2-subset/Pretendard-Light.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Light.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url(./woff2-subset/Pretendard-ExtraLight.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-ExtraLight.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(./woff2-subset/Pretendard-Thin.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Thin.subset.woff) format("woff");
}

/* CSS 초기화 */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
span,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;

  line-height: initial;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section img {
  display: block;
}
ol,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #666;
  list-style: none;
  display: block;
  line-height: 1;
}

img,
span {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}
